{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur{% endblock %}

{% block body %}
    <h1 class="title-home mt-5">¡ Bienvenue !</h1>
    <div class="login-box mt-5">
        <h1 class="login-title text-center">Acceder à votre espace</h1>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input id="text" name="text" type="text" placeholder="Identifiant" required>
            <label for="text"></label>
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input id="password" name="password" type="password" placeholder="Mot de passe" required>
            <label for="password"></label>
        </div>

        <div class="mt-5 d-flex justify-content-center align-items-center">
            <input type="submit" class="card-button" value="Se connecter">
            <input type="submit" class="card-button ml-5" value="Créer un compte">
        </div>
    </div>
{% endblock %}
