{% extends 'base.html.twig' %}

{% block title %}Add A Tip{% endblock %}

{% block body %}

    <div class="container">

        <h1>Hi all,</h1>

        <p>
            I am Damien, the creator of <strong><u>ADD TIP</u></strong>. Before presenting the concept to you, allow me to tell you about my
            career.
        </p>

        <p> I worked in logistics for 10 years before embarking on a professional reconversion.</p>

        <p>During my five-month training at the Wild Code School, I realised that it was complicated to retain all
            <strong>informations</strong> in such short time.</p>

        <p>That's when the idea of ADD TIP started to grow in my mind.</p>

        <p>But what exactly is ADD TIP?</p>

        <figure >
            <blockquote cite="">
                <p>Knowledge is the key to power, to wisdom.</p>
            </blockquote>
            <div class="d-flex align-items-end justify-content-end">
                <div class="quote">—Confucius, <cite class="quote">Unkown Source</cite></div>
            </div>
        </figure>

        <p>If our brain's storage capacity is about 1 petabyte, <strong>accessing this data</strong> can sometimes be tedious.</p>

        <p>It allows you to record code extracts that can be quickly retrieved for <strong>use</strong>, <strong>improvement</strong> or simply
            <strong>sharing</strong>.</p>

        <p>As a <u>"social network"</u>, ADD TIP will quickly become <u>indispensable</u>.</p>

        <p>Are you ready?</p>

        <div class="d-flex align-items-center justify-content-center">
            <button class="btn">
                <a href="{{ path('app_register') }}">
                    <i class="fa fa-arrow-right"></i>
                    <i class="fa fa-arrow-right"></i>
                    <i class="fa fa-arrow-right"></i>
                    Here We Go
                    <i class="fa fa-arrow-left"></i>
                    <i class="fa fa-arrow-left"></i>
                    <i class="fa fa-arrow-left"></i>
                </a>
            </button>
        </div>
    </div>
{% endblock %}
