{% extends 'base.html.twig' %}

{% block title %}Add A Tip{% endblock %}

{% block body %}

    <div class="intro col-12 mt-5 mb-5">
        <h1>Welcome to you dear user,</h1>

        <h2>I'm sure I'm sure you're wondering what this new site can be? So what is <u>Add Tip</u> ?</h2>
        <h4>Add tip is more than a reminder.
            With Add Tip you can add tips and tricks about your projects, you can also discuss around your tips or tips
            from
            other users.
            Thanks to a simple system of Cards, Add Tip helps you never forget what you need. A piece of code, a tip for
            a
            current or upcoming project, you can count on Add Tip to store your tips and tricks.
            You will now discover how your new best friend works.</h4>
    </div>

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-6 justify-content-center">
                <h4>
                    First, you should create your own personal space in order to access to the tips.
                </h4>
                <div class="d-flex justify-content-center align-items-center mt-5">
                    <video controls width="500" autoplay>

                        <source src="{{ asset('build/.webm') }}"
                                type="video/webm">

                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>

            <div class="col-6">
                <h4>
                    After creating your personal space, you just need to log in using the login form.
                </h4>
                <div class="d-flex align-items-center justify-content-center mt-5">
                    <video controls width="500" autoplay>

                        <source src="{{ asset('build/login.webm') }}"
                                type="video/webm">

                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}