{% extends 'base.html.twig' %}

{% block title %}Edit Tips{% endblock %}

{% block body %}
    <h1 class="mt-5">Modifier <strong>{{ tip.name }}</strong></h1>

    <section>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="mr-3 mt-5 mb-5">
                        {{ include('tips/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="mr-3 mt-5 mb-5">
                <button class="card-button">
                    <a href="{{ path('tips_index') }}">Retour</a>
                </button>
                <button class="card-button">
                    {{ button_label|default('Enregistrer') }}
                </button>
            </div>
        </div>
    </section>


{% endblock %}
