{% extends 'base.html.twig' %}

{% block title %}Tips index{% endblock %}

{% block body %}
    <h1>Tips index</h1>

    <section class="content">
        <div class="cards d-flex flex-wrap mt-5">
            {% for tip in tips %}
                <div class="card mb-5">
                    <div class="card__side card__side--front card__side--front-1">
                        <div class="card__description">Make Crud</div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__description">Pour Créer un CRUD dans Symfony</div>
                    </div>
                    <div class="col-12 mx-lg-5 col-md-5 col-lg-2 m-2 p-0">
                        <button class="learn-more">
                            <a href="{{ path('tips_show', {'id': tip.id}) }}">Détail</a>
                        </button>
                        <button class="learn-more">
                            <a href="{{ path('tips_edit', {'id': tip.id}) }}">Modifier</a>
                        </button>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="6">Aucun Résultat</td>
                </tr>
            {% endfor %}
        </div>

    </section>
    <div class="d-flex justify-content-center align-items-center">
        <button class="learn-more mt-5 ml-5 mb-5">
            <a href="{{ path('tips_new') }}">Ajouter un Tip</a>
        </button>
    </div>


{% endblock %}
