{% extends 'base.html.twig' %}

{% block title %}Tips{% endblock %}

{% block body %}
    <h1 class="mt-5">Tips</h1>
    <section class="content">
        <div class="cards d-flex justify-content-around align-items-center">
            {% for tip in tips %}
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ tip.name }}</h5>
                            <p class="card-text">{{ tip.description | slice(0,20) }}...</p>
                        </div>
                        <div class="card-footer-index border-0">
                            <small class="text-muted">
                                <a href="{{ path('tips_show', {'id': tip.id}) }}" class="button-more">En savoir plus</a>
                            </small>
                        </div>
                    </div>
                </div>
            {% else %}
                <h1 class="none">AUCUN RÉSULTAT</h1>
            {% endfor %}
        </div>

        <div class="col-md-12">
            <div class="d-flex justify-content-end align-items-end">
                <a class="add_a_tip card-button mt-5" title="Ajouter un Tip"
                   href="{{ path('tips_new') }}">
                    <i class="fas fa-plus fa-3x"></i>
                </a>
            </div>
            <div class="pagination d-flex justify-content-center align-items-center">
                {% include 'pagination.html.twig' %}
            </div>
        </div>
    </section>

{% endblock %}
