{% extends 'base.html.twig' %}

{% block title %}Nouveau Tip{% endblock %}

{% block body %}
    <h1 class="mt-5">Ajouter un nouveau Tip</h1>

    <div class="mt-5">
        {{ include('tips/_form.html.twig') }}
    </div>

{% endblock %}
