{% extends 'base.html.twig' %}

{% block title %}Nouveau Tip{% endblock %}

{% block body %}

    <h1 class="mt-5">Ajouter un Tip</h1>

    <div>
        {{ include('tips/_form.html.twig') }}
    </div>

{% endblock %}
