{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="carding mb-3 mt-5">
            <img class="card-img-top"
                 src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                 alt="uploaded-by-user">
            <div class="row">
                <div class="card-body mb-5 col-9">
                    <h5 class="card-title">{{ tip.name }}</h5>
                    <p class="card-text">{{ tip.description }}</p>
                    <p>Langages : </p>
                    <p class="card-text"><small class="text-muted">{{ language.name }}</small></p>
                </div>
                <div class="card-body mb-5 col-3">
                    <button class="btn btn-info card-button">
                        <a href="{{ path('tips_edit', {'id': tip.id}) }}">Modifier</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
