@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&family=Zilla+Slab&display=swap');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$card: rgba(85, 160, 144, 0.5);
$background: rgba(16, 56, 86, 0.8);
$svg-color: #E5DBD4;
$light-color: #fff;
$dark-color: #000;
$primary: #BBCED7;
$danger: #965D5C;
$info: #BDC649;

$font-text: 'Zilla Slab', serif;
$font-title: 'Grandstander', cursive;

$size-text: calc(16px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$size-image: calc(16px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$size-quote:18px;
$size-footer-text: 10px;
$size-navbar-text: 18px;
$size-intermediate :calc(2.5 * var($size-text));
$size-title: calc(3 * var($size-text));

$padding : 20px;
$padding-sm : calc(var($padding) *2);
$padding-lg : calc(var($padding) *4);

$margin: 20px;
$margin-sm : calc(var($margin) *2);
$margin-lg : calc(var($margin) *4);

$theme-colors: (
    "primary": $primary,
    "danger": $danger,
    "info": $info,
);
