@import "vars";

@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

@import "cards";
@import "button";
@import "navbar";
@import "login";
@import "register";
@import "home";

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $text-color;
}

body {
    background-color: $background-color;
    //margin-top: 150px;
}

h1  {
    color: $text-color;
    font-family: $font-title;
    font-size: $size-title;
    text-align: start;
}

h2 {
    color: $text-color;
    font-family: $font-nav-title;
    font-size: 3rem;
    text-align: center;
}

h3 {
    color: $navbar-color;
    font-family: $font-nav-title;
    font-size: 3rem;
}

h4 {
    color: $text-color;
}

p {
    font-size: $size-text;
    color: $navbar-color;
}

a {
    font-size: $size-text;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $background-color;
        background-color: $button-color;
    }
}

.home-title, .tips-title {
    color: $background-color;
    font-size: 2rem;
}

.login-wrapper {
    background-color: $background-color;
    border-radius: 4px;
    box-shadow: 4px 4px 4px;
}

@media screen and (max-width: 992px){
    .navbar {
        background-color: $background-color;
        color: $text-color;
    }

    .navbar-toggler-icon, .navbar-toggler {
        background-color: $navbar-color;
    }
}
