@import "vars";
@import "shapeDesktop";
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
@import "cards";
@import "button";
@import "navbar";
@import "login";
@import "underline";
@import "form";

img {
    width : 100%;
}

body {
    background-color: $background;
    margin: 0;
    padding: 0;
}

.content {
    height : 0;
    margin : 0;
    padding : 0;
}

h1 {
    color: $background;
}

a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    position: relative;

    &:hover {
        text-decoration: none;
        color: $dark-color;
    }
}

.delete-cross {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.none {
    background: $svg-color;
    color: $dark-color;
    padding: 10px;
    border-radius: $border;
    box-shadow: $shadow;
}

@include shapeDesktop();

/** For mobile Devices **/
@media screen and (min-width: 780px ) {
    h1 {
        text-align: center;
        color: $light-color;
    }
}

@media screen and (max-width: 480px) {
    .title-home {
        margin-left: 15px;
    }
}

@media screen  and  (max-width: 700px){
    .card {
        width: 100%;
    }
}

