@import "vars";
@import "shapeDesktop";

body {
    background-color: $background;
}

a, a:hover {
    text-decoration: none;
}

h1 {
    color: $dark-color;
}

a:hover {
    color: $light-color;
}

.forget {
}

.form-group-button {
    display : flex;
    justify-content: center;
    align-items : center;
}

button {
    display : flex;
    justify-content : center;
    align-items : center;
}

.navbar {
    background-color: $svg-color;
    color: $light-color;
    position : relative;
}

@include shapeDesktop();

/** For mobile Devices **/
@media screen and (min-width: 780px ) {
    h1 {
        text-align: center;
        color: $svg-color;
    }
}

@media screen and (max-width: 480px) {
    .title-home {
        margin-left: 15px;
    }
}

