@import "vars";

.btn {
    background: $button-color;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    transition: all .3s ease;
    width: 70%;
    border-radius: 30px;
    color: $background-color;
    font-weight: 600;
    border: 1px solid $navbar-color;

    &:hover, &:focus {
        background-color: $button-color;
        color: $background-color;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 60px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $navbar-color;
    color: $background-color;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: $button-color;
    color: $background-color;
}