@import "vars";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

img {
    width : 80%;
}

.content {
    height: 100vh;
    text-align: center;
    padding: 4em 0;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 100%;
    max-width: 470px;
    margin: 10px;
    position: relative;
    min-height: 470px;
    perspective: 150em;
    background-color: transparent;
    border: none;

    &__side {
        position: absolute;
        top: 0;
        left: 0;
        width : 100%;
        max-width : 470px;
        min-height: 65%;
        backface-visibility: hidden;
        transition: all .6s ease;
        box-shadow: 1em 1em 2em rgba(0,0,0,.2);
        border-radius: 5px;

        &--front {
            background-color: $svg-color;
        }

        &--back {
            background-color: $svg-color;
            transform: rotateY(180deg);

            &-1 {
                background-image: $svg-color;;
            }

            &-2 {
                background-image: $svg-color;
            }

            &-3 {
                background-image: $svg-color;
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotate(0);
    }

    &__description {
        font-size: 1.3em;
        padding: 0.75em 0;


        svg {
            width: 1.5em;
            height: 1.5em;
            fill: $svg-color;
        }
    }
}

.card-button {
    padding : 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.card-image {
    border-radius: 5px;
    width: 100%;

        img {
        border-radius: 5px;
    }
}

.absolute-clipboard {
    position : absolute;
    top: -15px;
    right: 65px;
    width: 30px;
    height : 30px;
    background-color: #55A090;
    border-radius: $circle;
    padding: .30em;
}

.description {
    position : relative;
    padding: 5px;
    margin: 20px;
}

#scroll_to_top {
    position : fixed;
    width : 25px;
    height : 25px;
    bottom : 50px;
    right: 30px;
}

#scroll_to_top {

    .arrow {
        width : 25px;
    }
}

.circle-language {
    display : inline-block;
    height : 70px;
    width : 70px;
    padding : .75em;
    border-radius: $circle;
    margin-bottom : 1em;
}

.language {
    display : flex;
    justify-content: center;
    align-items: center;
}

.block-code {
    color: $svg-color;
    background: $dark-color;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}

