@import "vars";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

.card {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1%;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    background-color: $svg-color;

    &:hover {
        transform: scale(1.05);
    }
}


.card-body {
    background-color: $svg-color;
}

.card {
    width: 100%;
    max-width: 470px;
    margin: 10px;
    position: relative;
    perspective: 150em;
    border: none;

    &__description {
        font-size: 1.3em;
        padding: 0.75em 0;

        svg {
            width: 1.5em;
            height: 1.5em;
            fill: $svg-color;
        }
    }
}

.img {
    width: 100%;
    border-radius: 4px;
}

.content {
    height: 80vh;
    text-align: center;
    padding: 4em 0;
}

.show-card {
    display: flex;
    justify-content: space-evenly !important;
}

.button-more {
    background-color: $dark-color;
    color: $svg-color;
    padding: 5px;
    border-radius: 4px;

    &:hover {
        background-color: $background;
        color: $svg-color;
        border-radius: 4px;
    }
}

.card-button {
    padding : 10px;
    border: 1px solid $dark-color;
    border-radius: 5px;
}

.card-image {
    border-radius: 5px;

    img {
        border-radius: 5px;
        box-shadow: 5px 5px 5px $dark-color;
    }
}

.block-code {
    display: block;
    color: $svg-color;
    background: $dark-color;
    border-radius: 4px;
    width: 100%;
    padding: 30px;
    box-shadow: 5px 5px 5px $dark-color;
}

.unselectable {
    box-shadow: 5px 5px 5px $dark-color;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #cc0000;
}

