@import "vars";

.card-body {
  border-radius: 0 0 0 0;
}

.container-fluid {
  padding-left: 200px;
  padding-right: 200px;
}

.card-img, .card-img-top, .card-img-bottom {
  width: 100%;
  max-height: 500px;
}