@import "vars";

* {
    padding : 0;
    margin : 0;
}

.new-section {
    padding: 40px 0;
}

.border {
    width : 100px;
    height : 10px;
    margin : 40px auto;
}

.my-form {
    color: $light-color;
    font-size: 1.5rem;
}

