@import "vars";

.new-section {
    padding: 40px 0;
}

.border {
    width : 100px;
    height : 10px;
    margin : 40px auto;
}

.my-form {
    color: $light-color;
    font-size: 1.5rem;
}

.select-language {
    height: 350px;
}

.label_tip {
    color: $svg-color;
    font-weight: bold;
    text-decoration: underline;
}