@import "vars";

blockquote {
  margin: 0;
  text-align: center;
}

blockquote p {
  padding: 5px;
  background: $text-color;
  border-radius: 5px;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}
