@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: $font-title;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  color: $text-color;

  & a:hover {
    background-color: $background-color;
    color: $button-color;
    transition: 0.5s;
    border-radius: 4px;
  }
}

.navbar {
  background-color: $navbar-color;
}

.home_logo {
  max-width: 100px;
  color: $text-color;
}

.nav-link-href {
  font-size: $size-navbar-text;
  border-radius: 4px;
  color: $text-color;
  margin: 1rem;
  padding: 7px;
}

.nav-item {
  color: $text-color;
}

.collapse {
  justify-content: flex-end;
  margin: 1.5rem;
}

.navbar-nav {
  background-color: $navbar-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}