@import "vars";

.register-title {
  margin-top: 250px;
}

.register-form {
    background-color: $navbar-color;
    margin-top: 250px;
    border-radius: $border;
}

.register a:hover {
  color: $button-color;
}

input {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
