{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Bienvenue dans votre Espece Personnel' %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-6 alert-info">

                countAllUser
                countAllTips

                <span class="display-3">85</span>Tips
            </div>
            <div class="col-6 alert-danger">
                <span class="display-3">150</span>Commentaires
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Cras justo odio
                        <span class="badge badge-primary badge-pill">Tips</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
