<footer id="footer">
    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">1</p>
            <p class="card-text">2</p>
            <p class="card-text">3</p>
        </div>
        <div class="card-footer text-muted"></div>
    </div>
</footer>
