<footer>
    <div class="footer">
        <div>
            <div>
                <p class="card-text">1</p>
                <p class="card-text">2</p>
                <p class="card-text">3</p>
            </div>
        </div>
    </div>
</footer>
